main {
  min-height: 150vh;
  min-width: none;
}


h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

.carousel {
  height: 30rem;
}

/* Carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item-active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 { 
  color: #fff;
}

.carousel img { 
  height: 25rem;
  padding: 5px;
  margin: 4px;
  /*border-radius: 50%;*/
}

.carousel a {
  margin: 0 auto;
}

.top-marketing {
  margin-bottom: 2rem;
}

.top-marketing_2 { 
  margin-bottom: 2rem;
  background: color red;
}




